*{
    padding: 0;
    margin: 0;
    background-color: rgba(87, 111, 229, 0.747);
}
#bodya{
    position: relative;
    margin-top: ;
    height: 39rem;
    width: 40%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.749);
    padding-top:  5px;
}
#billtotal{
    
}